<meta charset="UTF-8">


<% if(!users[user_id]) { %>
<form method="POST" action="/login"><input id="users[user_id].id" type='text' name="users[user_id].id" value="sign in"><button type = "submit" >Login</button></form>
<% } %>

<% if(users[user_id]) { %>
<form method="POST" action="/logout"><%= users[user_id].id %><button type = "submit" >Logout</button></form>
<% } %>