<meta charset='UTF-8'>


<% if(!userid) { %>
<a href='/login'> <button type = 'submit'>Login</button> </a>
<a href='/register'> <button type = 'submit'>Register</button> </a>
<% } %>

<% if(userid) { %>
<form method='POST' action='/logout'><%= users[userid].email %><button type = 'submit' >Logout</button></form>
<% } %>