<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
</header>
   <ul>
        <form style='display: inline;' method='POST' action='/login'>
          Email<input id='email' type='email' name='email'>
          Password<input id='password' type='password' name='password'>
          <button type = 'submit' >Login</button>
        </form>
        <a href='/register'> <button type = 'submit'>Register</button> </a>
      </ul>
</body>