<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
    <% include ./partials/_header %>
</header>

   <ul>

          <% for (let url in urls) { %>
                <li><%= url %> : <%= urls[url] %> <a href="/urls/<%= url %>"> Edit </a></form> <form style="display: inline;" method="POST" action="/urls/<%= url %>/delete"><button type = "submit">Delete</button></form>  </li>
          <% }; %>


          <a href="#"> Link to shortening </a>
      </ul>
</body>
</html>