<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
    <% include ./partials/_header %>
</header>

   <ul>
        <li>ShortURL: <%= shortURL %></li>
        <form style="display: inline;" method="POST" action="/urls/<%= shortURL %>"><input id="longurl" type='text'name="longurl" value=<%= longURL %>><button type = "submit" >Update</button></form>

      </ul>
</body>